@model IEnumerable<MvcAdvance01.Areas.Administrator.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<img src="~/Areas/Administrator/Image/WritePost.png" />

<h2>صفحه مدیریت مطالب</h2>

<p>
    @Html.ActionLink("نگاشت مطلب جدید", "Create")
</p>
<table class="table">
    <tr>


        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostWriter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmallBody)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PublishDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostWriter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SmallBody)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>

            <td>
                <img src="~/Uploads/@item.Image" width="70" height="70" />
            </td>
            <td>
                @Html.ActionLink("ویرایش", "Edit", new { id = item.ID }) |
                @Html.ActionLink("جزئیات", "Details", new { id = item.ID }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<div class="form-group" style="float:left">
    <div class="col-md-12">
        @Html.ActionLink("صفحه بعدی", "btnNext")<<....>
            >

            @Html.ActionLink("صفحه قبلی", "btnPrev")
    </div>
</div>
